h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  background: #15171B;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 75px 50px 50px;
  width: 80vw;

  * {
    user-select: none;
  }
}

.editToggle {
  cursor: pointer;
  fill: #eee;
  height: 30px;
  position: absolute;
  right: 24px;
  top: 16px;
  width: 30px;

  path {
    fill: #eee;
  }
}

.topButton {
  color: #eee;
  font-weight: 700;
  position: fixed;
  top: 18px;

  &.active {
    color: greenyellow;
  }
}

.shiftButton {
  left: 24px;
}

.tabButton {
  left: 175px;
}

.buttonKey {
  margin-left: 8px;
}

.row {
  display: flex;
  margin: 1vw 0;

  &:nth-child(2) {
    // margin-left: 3.5vw;
    margin-top: 12px;
  }

  // &:nth-child(3) {
  //   margin-left: 7vw;
  // }

  // &:nth-child(4) {
  //   margin-left: 10.5vw;
  // }
}

