
.modal {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.32);
  box-sizing: border-box;
  left: 50%;
  max-height: calc(100vh - 80px);
  max-width: calc(100% - 32px);
  outline: none;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 24px;
  position: fixed;
  text-align: left;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 2;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: opacity;
  z-index: 1;
}

.input {
  margin: 16px 0;
}

button {
  background: black;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  height: 40px;
  outline: none;
  padding: 0 32px;
}

.trashIcon {
  height: 30px;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 30px;
}
