.key {
  font-size: 0.9vw;
  position: absolute;
  right: 6px;
  top: 4px;
}

.name {
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 4px;
}

.effectButton {
  align-items: center;
  background: #222;
  border: 2px solid #8d8d8d;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  height: 7vw;
  justify-content: center;
  margin: 0.5vw;
  position: relative;
  transition: border-color 0.1s;
  width: 7vw;

  &:after {
    background: rgba(0,0,0,0);
    border-radius: 8px;
    content: "";
    height: 100%;
    position: absolute;
    transition: background 0.3s;
    width: 100%;
  }

  &:hover:after {
    background: rgba(0,0,0,0.15);
  }
}

.active {
  border: 2px solid greenyellow;

  .key, .name {
    color: greenyellow;
  }
}

.editMode {
  background: white !important;
  border: 2px solid #888;
  color: black;
}

@media (min-width: 1280px) {
  .effectButton {
    height: 100px;
    margin: 8px;
    width: 100px;
  }

  .name {
    font-size: 14px;
  }

  .key {
    font-size: 12px;
  }
}
